.contacts {
  background-image: url('media/background.png');
  color: white;
  padding: 122px 0;
  background-size: cover;
  background-position: center;
}

.info_block {
  width: 445px;
}

.form_block {
  border: 1px solid white;
  height: 400px;
  width: 300px;
}

.info_block p {
  font-size: 18px;
}

.info_block h2 {
  margin-bottom: 60px;
}

.main_contacts {
  font-size: 21px;

  display: flex;
  justify-content: end;
  margin: 80px 20px 0 20px;
}

.email {
  display: flex;
}

.phone {
  margin-right: 40px;
}

.email p {
  margin-left: 10px;
}

.all_blocks {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1055px) {
  .all_blocks {
    flex-direction: column;
  }

  .main_contacts {
    justify-content: start;
    margin: 80px 0 60px 0;
  }
}
