.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.menu li {
  margin: 0 20px;
}

