.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.menu {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.menu li {
  margin: 0 20px;
}

.burger_menu {
  display: none;
  font-size: 40px;
}

@media (max-width: 1055px){
  .burger_menu {
    display: flex;
  }

  .menu {
    display: none;
  }

  .wrapper button {
    display: none;
  }

}
