* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFE44D;
  padding: 10px 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row; /* Свойство по умолчанию */
}

.nav_menu_btn {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;

  justify-content: center;
  align-items: center;

  display: none;
}


.nav_menu.menu_active {
  transform: translateX(0);
}

@media (max-width: 800px){
  nav {
    position: relative;
  }

   nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    background-color: #FFE44D;

    transform: translateX(100%);
    transition: transform 0.5s;
   }

   nav ul a {
    border-bottom: 2px solid black;
    padding: 20px 10px;
   }

   .nav_menu_btn {
    display: flex;
   }

  body {
    overflow-x: hidden;
  }
}


/* Form ================= */

.login_form {
  width: 350px;
  padding: 16px;
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;

  /* border: 1px solid black;
  border-radius: 20px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_title {
  margin: 15px 0;
}

.form_input {
  border: 1px solid #CFD8DC;
  border-radius: 12px;
  padding: 13px;
  margin: 2px 0;
}

.form_input:focus {
  outline: none;
  border-color: #FFE44D;
}

.form_reset_password_text {
  color: gray;
  font-size: 13px;
  text-align: end;
  margin: 15px 0;
}

.form_btn {
  font-weight: bold;
  border-radius: 55px;
  padding: 14px;
  margin: 2px 0;
  font-size: 14px;
  cursor: pointer;
}

.submit_btn {
  background-color: #FFE44D;
  border: 1px solid transparent;
}

.redirect_btn {
  background-color: transparent;
  border: 1px solid #CFD8DC;
}

.cross_btn {
  font-size: 20px;
  cursor: pointer;

  position: absolute;
  top: 30px;
  right: 40px;
}

/* Modal ================= */

.popup {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  visibility: hidden;
}

.popup_body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_content {
  background-color: white;
  border-radius: 30px;
  position: relative;
}

.popup.popup_active {
  visibility: visible;
}
